apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  # Using non-HA manifests for minikube (single node - HA anti-affinity rules won't work)
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.14.2/manifests/ha/install.yaml
  - ../../base
patches:
  # Disable automatic deletion of argocd-initial-admin-secret (for demo/testing)
  - path: disable-secret-deletion.yaml
    target:
      kind: Job
      name: argocd-initial-admin-secret-cleanup
  - path: ../../base/argocd-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-cm
  - path: ../../base/argocd-rbac-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-rbac-cm
  - path: ../../base/argocd-secret.yaml
    target:
      kind: Secret
      name: argocd-secret
  - path: ../../base/argocd-cmd-params-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
  - target:
      kind: Service
      name: argocd-server
    patch: |-
      - op: replace
        path: /spec/type
        value: NodePort
      - op: add
        path: /spec/ports/0/nodePort
        value: 30080
      - op: add
        path: /spec/ports/1/nodePort
        value: 30443
# Use commonAnnotations instead of commonLabels to avoid modifying immutable
# StatefulSet selector fields during upgrades
commonAnnotations:
  argocd.version: "v2.14.2"
  demo.upgrade.step: "v2.10-to-v2.14"
